@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Courgette', cursive;
}

header {
  padding: 7rem;
  background-image: url('https://i.pinimg.com/originals/8f/08/5f/8f085fcd7aaf9e2638f10a0beb28945f.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12rem;
}

button {
  background-color: #6ca435;
  font-family: 'Montserrat', sans-serif;
}

main {
  background: rgb(113, 214, 238);
  background: radial-gradient(
    circle,
    rgba(113, 214, 238, 1) 20%,
    rgba(253, 239, 79, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  padding: 1rem;
}

section {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

footer {
  background-color: #8048ab;
  text-align: center;
  padding: 1rem;
}
